body {
    background-color: #000;
    padding: 0;
    margin: 2em;
}

.overworld {
    position: relative;
}

.turboplayer_controls_wrapper {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.turboplayer_controls_fadeIn {
    opacity: 1;
}

.turboplayer_fill_btn {
    position: absolute;
    top: 2px;
    left: 5px;
    z-index: 100003;
    border: none;
    background-color: transparent;
    color: #BBB;
    font-size: 1em;
    z-index: 100002;
}

.turboplayer_fill_btn:hover {
    color: #FFF;
}

.turboplayer_fill_btn:active {
    border: 1px solid white;
}

.vsources {
    position: absolute;
    background-color: transparent;
    border: none;
    color: #BBB;
    font-size: 1em;
    top: 2px;
    left: 50px;
    z-index: 100002;
}

.vsources option {
    color: #000;
}

.turboplayer {
    height: 480px;
    width: 640px;
}

.turboplayer_fill {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100001;
}
